<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="img/png" href="./images.klogopink.png">
        <title>Kytchns</title>
        <link rel="stylesheet" href="./home.css">
    </head>
    <body>
        <div class="header">
            <img src="./images/pinklogo.png" alt="Logo">
            <h1>REGISTER YOUR INTEREST</h1>
            <p>Contact us: info@kytchns.com</p>
        </div>

        <div class="content">
            <a href="/rentyourkitchen">
                <div class="myImage">
                    <img src="./images/rentYourKitchenHome.jpg">
                </div>
                <p>Rent Your Kitchen</p>
            </a>

            <a href="/kitchenrental">
                <div class="myImage">
                    <img src="./images/rentYourKitchenHome.jpg">
                </div>
                <p>Rent Your Kitchen (again)</p>
            </a>

            <a href="/kitchenco">
                <div class="myImage">
                    <img src="./images/kitchenCoHome.jpg">
                </div>
                <p>Kitchen Coalition</p>
            </a>

            <a href="/kitchencooks">
                <div class="myImage">
                    <img src="./images/kitchenCooksHome.jpg">
                </div>
                <p>Kitchen Cooks</p>
            </a>

            <a href="/inventorymanagement">
                <div class="myImage">
                    <img src="./images/inventoryManagementHome.jpg">
                </div>
                <p>Inventory Management</p>
            </a>

            <a href="/kytchndelivery">
                <div class="myImage">
                    <img src="./images/kytchnDeliveryHome.jpg">
                </div>
                <p>Kytchn Delivery</p>
            </a>

            <a href="/kytchnorder">
                <div class="myImage">
                    <img src="./images/kytchnOrderHome.jpg">
                </div>
                <p>Kytchn Order</p>
            </a>
        </div>
    </body>
</html>