*{margin:0;padding:0;}

input[type=submit]{
    width: 50%;
    margin-left: auto;
    background: rgb(255, 99, 107);
    border: none;
    outline: 0;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

input[type=submit]::-moz-focus-inner{
    border: 0;
}

input[type=submit]:hover{
    background: rgb(243, 77, 86);
}

input[type=submit]:active{
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

    .header img{
        max-width: 200px;
        margin-left: 50px;
    }

    .header p{
        padding-right: 100px;
    }

.center{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: rgb(0, 27, 45);
}

    form{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 5px;
        padding: 25px;
        color: white;
    }

    form > label{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .centerLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    .centerLeft h1{
        font-size: 30px;
        color: rgb(255, 99, 107);
        margin-bottom: 50px;
    }

    .centerLeft p{
        font-size: 20px;
        line-height: 50px;
        color: white;
    }

.content{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 90vh;
    padding: 10px 200px;
    flex-wrap: wrap;
}

    .content > a{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 25px 0;
        margin: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgb(0, 27, 45);
        height: 25%;
        text-decoration: none;
        border-radius: 5px;
    }

    .content > a:hover{
        background: rgb(240, 252, 255);
    }

    .myImage{
        text-align: center;
        width: 20vw;
        max-height: 90%;
    }

    img{
        max-height: 100%;
    }

    .content p{
        color: black;
        font-size: 25px;
    }