<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="img/png" href="./images/klogopink.png">
        <title>Kytchns</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="kitchenCooks">
            <div class="header">
                <img src="./images/pinklogo.png" alt="Logo">
                <p>Contact us: info@kytchns.com</p>
            </div>

            <div class="banner">
                <p></p>
            </div>

            <div class="content">
                <div class=contentMain>
                    <h1>Not enough cooks in the kitchen? </h1>

                    <div class="features">
                        <p>Gain access to qualified sous-chefs and line cooks that can be hired by the hour to help you prep, cook, and pack your platings. Now you only have to pay for the time they are contracted.</p>
                    </div>
                </div>
                    
                <form onsubmit="submitForm()">
                    <h2>Sign up now!</h2>

                    <label>*Full Name:
                        <input id="name" type="text" pattern="[A-Za-z ]+" title="No numbers or special characters" required>
                    </label>

                    <label>Phone Number:
                        <input id="phone" type="text" pattern="[0-9\-\(\) ]+">
                    </label>

                    <label>*Email:
                        <input id="email" type="email" required>
                    </label>

                    <label>Zip Code:
                        <input id="zip" type="text" pattern="[0-9]+" title="Numbers only">
                    </label>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="footer">
            <div>
                <h4>OUR COMPANY</h4>
                <p>Kytchns was formed to help small business restaurants survive and recover in a post COVID-19 world. Small business restaurants already face razor-thin margins, concentrated competition, and high capital costs. Kytchns helps provide small business restaurants with the tools and services needed to navigate a post-pandemic landscape and return to profitability as soon as possible.</p>
            </div>

            <div>
                <h4>BRING DOWN COSTS</h4>
                <p>Finding a qualified staff of line cooks and chefs to bring your food business to life can be challenging. Make sure that you have enough staff on-hand as you scale your business and churn out more orders without permanently adding to your payroll. </p>
            </div>

            <div>
                <h4>REACT TO DEMAND SPIKES</h4>
                <p>The restaurant industry has clear mealtime peaks for service. Stop wasting time and money on overtime and recruiting and only pay for qualified staff during the hours, days, or months you need it.</p>
            </div>
        </div>

        <script>
            let submitForm = ()=>{
                event.preventDefault();

                let data = {
                    name: document.querySelector("#name").value,
                    phone: document.querySelector("#phone").value,
                    email: document.querySelector("#email").value,
                    zip: document.querySelector("#zip").value,
                    page: window.location.pathname.replace("/", "")
                }

                fetch("/lead", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json;charset=utf-8"
                    },
                    body: JSON.stringify(data)
                })
                    .then((response)=>{
                        if(typeof(response.data) === "string"){
                            showBanner(response.data, true);
                        }else{
                            showBanner("Thanks for signing up.  We will keep you updated with the lastest developments");
                        }
                    })
                    .catch((err)=>{
                        showBanner("Error: something went wrong and we could not save your information", true);
                    });
            }

            let showBanner = (text, isError = false)=>{
                let banner = document.querySelector(".banner");

                if(isError){
                    banner.classList = "banner bannerError";
                }else{
                    banner.classList = "banner bannerSuccess";
                }

                banner.children[0].innerText = text;

                setTimeout(()=>{
                    banner.classList = "banner bannerHidden";
                    banner.children[0].innerText = "";
                }, 5000)
            }
        </script>
    </body>
</html>