<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="img/png" href="./images/klogopink.png">
        <title>Kytchns</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="kitchenRental">
            <div class="header">
                <img src="./images/pinklogo.png" alt="Logo">
                <p>Contact us: info@kytchns.com</p>
            </div>

            <div class="banner">
                <p></p>
            </div>

            <div class="content">
                <div class=contentMain>
                    <h1>Focus on the food, not the furnishings</h1>

                    <div class="features">
                        <p>Starting a brick-and-mortar restaurant requires hundreds of thousands of dollars. Instead of getting your money tied up in a commercial lease and state of the art equipment, let us connect you to the right space to rent so that you can focus on what matters most.</p>
                    </div>
                </div>
                    
                <form onsubmit="submitForm()">
                    <h2>Sign up now!</h2>

                    <label>*Full Name:
                        <input id="name" type="text" pattern="[A-Za-z ]+" title="No numbers or special characters" required>
                    </label>

                    <label>Phone Number:
                        <input id="phone" type="text" pattern="[0-9\-\(\) ]+">
                    </label>

                    <label>*Email:
                        <input id="email" type="email" required>
                    </label>

                    <label>Zip Code:
                        <input id="zip" type="text" patter="[0-9]+" title="Numbers only">
                    </label>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="footer">
            <div>
                <h4>OUR COMPANY</h4>
                <p>Kytchns was formed to help small business restaurants survive and recover in a post COVID-19 world. Small business restaurants already face razor-thin margins, concentrated competition, and high capital costs. Kytchns helps provide small business restaurants with the tools and services needed to navigate a post-pandemic landscape and return to profitability as soon as possible.</p>
            </div>

            <div>
                <h4>BRING DOWN COSTS</h4>
                <p>Let’s be honest, commercial-grade equipment is expensive to acquire and maintain. We help you find fully-equipped, commercially-licensed kitchens to rent by the month so that your business can reduce overhead costs and capture higher margins. </p>
            </div>

            <div>
                <h4>REDUCE RISKS</h4>
                <p>In light of COVID-19 and social distancing, the landscape of the restaurant industry is changing dramatically. Keeping restaurants at full capacity may become impossible with social distancing norms. Now you can rent out kitchen space to churn out online orders and test new concepts without ploughing hundreds of thousands of dollars to start a food business.</p>
            </div>
        </div>

        <script>
            let submitForm = ()=>{
                event.preventDefault();

                let data = {
                    name: document.querySelector("#name").value,
                    phone: document.querySelector("#phone").value,
                    email: document.querySelector("#email").value,
                    zip: document.querySelector("#zip").value,
                    page: window.location.pathname.replace("/", "").toLowerCase()
                }

                fetch("/lead", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json;charset=utf-8"
                    },
                    body: JSON.stringify(data)
                })
                    .then((response)=>{
                        if(typeof(response.data) === "string"){
                            showBanner(response.data, true);
                        }else{
                            showBanner("Thanks for signing up.  We will keep you updated with the lastest developments");
                        }
                    })
                    .catch((err)=>{
                        showBanner("Error: something went wrong and we could not save your information", true);
                    });
            }

            let showBanner = (text, isError = false)=>{
                let banner = document.querySelector(".banner");

                if(isError){
                    banner.classList = "banner bannerError";
                }else{
                    banner.classList = "banner bannerSuccess";
                }

                banner.children[0].innerText = text;

                setTimeout(()=>{
                    banner.classList = "banner bannerHidden";
                    banner.style.background = "none";
                    banner.children[0].innerText = "";
                }, 5000)
            }
        </script>
    </body>
</html>