<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="img/png" href="./images/klogopink.png">
        <title>Kytchns</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="kytchnDelivery">
            <div class="header">
                <img src="./images/pinklogo.png" alt="Logo">
                <p>Contact us: info@kytchns.com</p>
            </div>

            <div class="banner">
                <p></p>
            </div>

            <div class="content">
                <div class=contentMain>
                    <h1>A delivery service that delivers on your needs</h1>

                    <div class="features">
                        <p>Small businesses which lack the leverage to negotiate third-party fees or the resources to adapt their facilities are made most vulnerable by delivery’s growth. As delivery-service apps capture a growing percentage of your food sales, they may also be hurting your restaurants’ bottom line. </p>
                    </div>
                </div>
                    
                <form onsubmit="submitForm()">
                    <h2>Sign up now!</h2>

                    <label>*Full Name:
                        <input id="name" type="text" pattern="[A-Za-z ]+" title="No numbers or special characters" required>
                    </label>

                    <label>Phone Number:
                        <input id="phone" type="text" pattern="[0-9\-\(\) ]+">
                    </label>

                    <label>*Email:
                        <input id="email" type="email" required>
                    </label>

                    <label>Zip Code:
                        <input id="zip" type="text" pattern="[0-9]+" title="Numbers only">
                    </label>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="footer">
            <div>
                <h4>OUR COMPANY</h4>
                <p>Kytchns was formed to help small business restaurants survive and recover in a post COVID-19 world. Small business restaurants already face razor-thin margins, concentrated competition, and high capital costs. Kytchns helps provide small business restaurants with the tools and services needed to navigate a post-pandemic landscape and return to profitability as soon as possible.</p>
            </div>

            <div>
                <h4>TAKE BACK YOUR MARGIN</h4>
                <p>Big tech delivery services are cutting into your profit margins. Take back control of your margins by using our delivery services at a fraction of the price.</p>
            </div>

            <div>
                <h4>SERVE NEW MARKETS</h4>
                <p>Enter new local markets and increase your restaurant fanbase. Our delivery fleet with deliver your meals straight from our kitchen spaces to the hands of your new customers.</p>
            </div>
        </div>

        <script>
            let submitForm = ()=>{
                event.preventDefault();

                let data = {
                    name: document.querySelector("#name").value,
                    phone: document.querySelector("#phone").value,
                    email: document.querySelector("#email").value,
                    zip: document.querySelector("#zip").value,
                    page: window.location.pathname.replace("/", "").toLowerCase()
                }

                fetch("/lead", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json;charset=utf-8"
                    },
                    body: JSON.stringify(data)
                })
                    .then((response)=>{
                        if(typeof(response.data) === "string"){
                            showBanner(response.data, true);
                        }else{
                            showBanner("Thanks for signing up.  We will keep you updated with the lastest developments");
                        }
                    })
                    .catch((err)=>{
                        showBanner("Error: something went wrong and we could not save your information", true);
                    });
            }

            let showBanner = (text, isError = false)=>{
                let banner = document.querySelector(".banner");

                if(isError){
                    banner.classList = "banner bannerError";
                }else{
                    banner.classList = "banner bannerSuccess";
                }

                banner.children[0].innerText = text;

                setTimeout(()=>{
                    banner.classList = "banner bannerHidden";
                    banner.children[0].innerText = "";
                }, 5000)
            }
        </script>
    </body>
</html>