*{padding:0;margin:0}

body, html{
    height: 100%;
    width: 100%;
}

input[type=submit]{
    width: 50%;
    margin-left: auto;
    background: rgb(255, 99, 107);
    border: none;
    outline: 0;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

input[type=submit]::-moz-focus-inner{
    border: 0;
}

input[type=submit]:hover{
    background: rgb(243, 77, 86);
}

input[type=submit]:active{
    font-size: 18px;
}

h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 99, 107);
}

input{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
    align-items: center;
}

    .header img{
        max-width: 200px;
    }

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    padding: 3px;
    font-size: 20px;
    text-align: center;
}
    
    .bannerHidden{
        background: white;
        color: white;
    }
    
    .bannerError{
        background: red;
        color: white;
    }
    
    .bannerSuccess{
        background: green;
        color: white;
    }

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 27, 45);
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 25px 100px 10px 100px;
}

    .contentMain{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .features{
        max-width: 50vw;
    }

    .features > *{
        margin: 15px;
        text-align: justify;
    }

    form{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 5px;
        padding: 50px;
        max-width: 250px;
    }

    form > h2{
        margin-bottom: 25px;
    }

    form > label{
        margin: 10px;
    }

.footer{
    display: flex;
    width: 100%;
    padding: 25px 100px 100px 100px;
    box-sizing: border-box;
}

    .footer > *{
        display: flex;
        flex-direction: column;
        margin: 25px;
        text-align: justify;
    }