*{padding:0;margin:0}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Saira', sans-serif;
}

p{
    font-size: 18px;
    line-height: 25px;
}

input[type=submit]{
    width: 50%;
    margin-left: auto;
    background: rgb(255, 99, 107);
    border: none;
    outline: 0;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

input[type=submit]::-moz-focus-inner{
    border: 0;
}

input[type=submit]:hover{
    background: rgb(243, 77, 86);
}

input[type=submit]:active{
    font-size: 18px;
}

h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 99, 107);
}

input{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

    .header img{
        max-width: 200px;
        margin-left: 50px;
    }

    .header p{
        padding-right: 100px;
    }

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    padding: 3px 0;
    font-size: 20px;
    text-align: center;
    margin-top: -25px;
    box-sizing: border-box;
    color: white;
}
    
    .bannerHidden{
        background: white;
    }
    
    .bannerError{
        background: red;
    }
    
    .bannerSuccess{
        background: green;
    }

.content{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-size: 100%;
}

    .contentMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contentMain > h1{
        color: rgb(255, 99, 107);
        font-size: 35px;
        font-weight: bold;
    }

    .features{
        max-width: 50vw;
    }

    .features > *{
        margin: 15px;
        text-align: justify;
        font-size: 25px;
        line-height: 45px;
    }

    form{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 5px;
        padding: 50px;
        max-width: 250px;
    }

    form > h2{
        margin-bottom: 25px;
    }

    form > label{
        margin: 10px;
    }

.footer{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

    .footer > *{
        display: flex;
        width: 30%;
        flex-direction: column;
        margin: 25px;
        text-align: justify;
        padding: 25px;
    }

    .footer h4{
        text-align: center;
    }

    .footer p{
        font-size: 20px;
        line-height: 35px;
    }

#rentYourKitchen, #kitchenRental{
    background-image: url("./images/rentYourKitchen.jpg");
}

#kitchenCo{
    background-image: url("./images/kitchenCo.jpg");
}

#kitchenCooks{
    background-image: url("./images/kitchenCooks.jpg");
}

#inventoryManagementImg{
    background-image: url("./images/inventoryManagement.jpg");
}

#kytchnDelivery{
    background-image: url("./images/kytchnDelivery.jpg");
}

#kytchnOrder{
    background-image: url("./images/kytchnOrder.jpg");
}